@page "/CreateArticle"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using SETraining.Shared.DTOs
@using SETraining.Shared.ExtensionMethods
@using SETraining.Shared.Models
@using System.Net.Http.Headers
@inject HttpClient Http
@inject DialogService DialogService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@attribute [Authorize]

<PageTitle>Create new article</PageTitle>


<div class="row">
    <div class="col-12">
        <h1>Create a new article</h1>
        <h4>Choose article type</h4>
        <RadzenRadioButtonList @bind-Value=@ChosenType TValue="int" Change=@((args) => OnChooseType(args))>
            <Items>
                <RadzenRadioButtonListItem Text="Written" Value="0" />
                <RadzenRadioButtonListItem Text="Video" Value="1" />
            </Items>
        </RadzenRadioButtonList>
        <h4>Title</h4>
        <RadzenTextBox Change=@(args => OnTitleChange(args.ToString())) />
        <h4>Description</h4>
        <RadzenTextBox Change=@(args => OnDescriptionChange(args.ToString())) />
        
        @if (ProgrammingLanguages != null)
        {
           <div style="margin-top: 20px;">
               <h4>Choose existing languages</h4>
               <RadzenCheckBoxList @bind-Value=@ChosenLanguages TValue="int" Orientation="Orientation.Horizontal" Change=@(args => OnChooseLanguages(args))>
                    <Items>
                        @foreach (var (language, i) in ProgrammingLanguages.Select((value, i) => (value, i)))
                        {
                            <RadzenCheckBoxListItem Text="@language.Name" Value="@i"/>
                        }
                    </Items>
                    </RadzenCheckBoxList>
                    <div style="margin-top: 10px; margin-left: 5px;">Or add new language</div>
                    <RadzenTextBox Placeholder="Typescript..." Change=@(args => OnNewLanguageValue(args)) Class="w-20" />
                    <RadzenButton Click=@(args => OnAddLanguage()) Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary" />
           </div>
       }
        
        <div style="margin-top: 20px;">
            <h4>Pick difficulty level</h4>
                   <RadzenRadioButtonList @bind-Value=@ChosenDifficulty TValue="int" Change=@(args => OnChosenDifficultyLevelChange(args))>
                                 <Items>
                                     <RadzenRadioButtonListItem Text="@DifficultyLevel.Novice.ToString()" Value="0"/>
                                     <RadzenRadioButtonListItem Text="@DifficultyLevel.Intermediate.ToString()" Value="1"/>
                                     <RadzenRadioButtonListItem Text="@DifficultyLevel.Expert.ToString()" Value="2"/>
                                 </Items>
                             </RadzenRadioButtonList> 
        </div>
       
        <div class="form-group">
                               @if (!string.IsNullOrWhiteSpace(ImageURL))
                               {
                                   <div><img src="@ImageURL" alt="Character Image" class="img-thumbnail"></div>
                               }
                               
                               @if (ChosenType == 0)
                               {
                                     <h4 style="margin-top: 20px;">Add image</h4>
                                      <label for="Image">Image</label>  
                               }
                               else
                               {
                                   <h4 style="margin-top: 20px;">Add thumbnail to your video</h4>
                                   <label for="Image">Thumbnail</label>  
                               }
                           
                           </div>
                           <div class="form-group input-group">
                               <InputFile id="Image" OnChange="@OnImageFileSelection" class="form-control" />
                               <button type="button" @onclick="ClearImage" class="btn btn-secondary">Clear</button>
                               </div>
        
                                   
        <div style="margin-top: 20px;">
            @if (ChosenType == 0)
            {
                <h4>Content of the article</h4>
                <RadzenHtmlEditor @bind-Value=@HtmlInput style="height: 500px; margin-bottom: 1rem;" Change=@OnHtmlChange Paste=@OnPaste>
                      <RadzenHtmlEditorUndo />
                      <RadzenHtmlEditorRedo />
                      <RadzenHtmlEditorFontName />
                      <RadzenHtmlEditorFontSize />
                      <RadzenHtmlEditorSeparator />
                      <RadzenHtmlEditorBold />
                      <RadzenHtmlEditorItalic />
                      <RadzenHtmlEditorUnderline />
                      <RadzenHtmlEditorStrikeThrough />
                      <RadzenHtmlEditorSeparator />
                      <RadzenHtmlEditorAlignLeft />
                      <RadzenHtmlEditorAlignCenter />
                      <RadzenHtmlEditorAlignRight />
                      <RadzenHtmlEditorJustify />
                      <RadzenHtmlEditorSeparator />
                      <RadzenHtmlEditorIndent />
                      <RadzenHtmlEditorOutdent />
                      <RadzenHtmlEditorUnorderedList />
                      <RadzenHtmlEditorOrderedList />
                      <RadzenHtmlEditorSeparator />
                      <RadzenHtmlEditorColor />
                      <RadzenHtmlEditorBackground />
                      <RadzenHtmlEditorRemoveFormat />
                      <RadzenHtmlEditorSeparator />
                      <RadzenHtmlEditorSubscript />
                      <RadzenHtmlEditorSuperscript />
                      <RadzenHtmlEditorSeparator />
                      <RadzenHtmlEditorFormatBlock />
                </RadzenHtmlEditor>
            }
            else
            {
                <h4 style="margin-top: 20px;">Add video</h4>
                <label for="Image">Video</label>  
                <div class="form-group input-group">
                    <InputFile id="Image" OnChange="@OnVideoFileSelection" class="form-control" />
                    <button type="button" @onclick="ClearVideo" class="btn btn-secondary">Clear</button>
                </div>
            }
            
        </div>
        
                  
    </div>
  
</div>

<RadzenButton style="margin-bottom:10px;"Click=@(PublishArticle) Text="Publish" Icon="check_circle" ButtonStyle="ButtonStyle.Success" />

  
        

        

@code {
    
    //Properties
    private int ChosenType = 0;
    
    private string ImageName = Guid.NewGuid().ToString();
    private string ImageURL = string.Empty;
    private IBrowserFile? ImageFile;
    
    private string VideoName = Guid.NewGuid().ToString();
    private string VideoURL = string.Empty;
    private IBrowserFile? VideoFile;
    
    
    string HtmlInput;
    string TitleInput;
    string DescriptionInput;
    
    bool? checkBoxValue;
    string? newLang;
    
    ProgrammingLanguageDTO[]? ProgrammingLanguages;
    IEnumerable<int> ChosenLanguages = new List<int>();
    int ChosenDifficulty = 0;
    
    //Methods

    //Init method
    protected override async Task OnInitializedAsync()
    {
        ProgrammingLanguages = await Http.GetFromJsonAsync<ProgrammingLanguageDTO[]>("api/ProgrammingLanguages");
    }
    
    private void OnChooseType(int type)
    {
        ChosenType = type;
    }
    
    //Methods for image uploads
    private async Task OnImageFileSelection(InputFileChangeEventArgs e)
    {
        ImageFile = e.GetMultipleFiles().FirstOrDefault();

        if (ImageFile != null)
        {
            var bytes = new byte[ImageFile.Size];
            await ImageFile.OpenReadStream(100000000).ReadAsync(bytes);
            var contentType = ImageFile.ContentType;
            ImageURL = $"data:{contentType};base64,{Convert.ToBase64String(bytes)}";
        }
    }
    
    
    private async Task UploadImage()
    {

        if (ImageFile != null)
        {
            var bytes = new byte[ImageFile.Size];
            await ImageFile.OpenReadStream(100000000).ReadAsync(bytes);
            var byteContent = new ByteArrayContent(bytes);
            byteContent.Headers.ContentType = new MediaTypeHeaderValue(ImageFile.ContentType);
            var content = new MultipartFormDataContent();
            content.Add(byteContent, "file", ImageFile.Name);
            var response = await Http.PostAsync($"api/ImageUpload/{ImageName}", content);

            if (response.IsSuccessStatusCode)
            {
                ImageURL = response.Headers.Location?.ToString();
            }
        }
    }
    
    private void ClearImage()
    {
        ImageURL = string.Empty;
        ImageFile = null;
    }
    
    //Methods for video upload
    private async Task OnVideoFileSelection(InputFileChangeEventArgs e)
    {
        VideoFile = e.GetMultipleFiles().FirstOrDefault();

        if (VideoFile != null)
        {
            var bytes = new byte[VideoFile.Size];
            await VideoFile.OpenReadStream(1000000000).ReadAsync(bytes);
            var contentType = VideoFile.ContentType;
            VideoURL = $"data:{contentType};base64,{Convert.ToBase64String(bytes)}";
        }
    }
    
    
    private async Task UploadVideo()
    {

        if (VideoFile != null)
        {
            var bytes = new byte[VideoFile.Size];
            await VideoFile.OpenReadStream(1000000000).ReadAsync(bytes);
            var byteContent = new ByteArrayContent(bytes);
            byteContent.Headers.ContentType = new MediaTypeHeaderValue(VideoFile.ContentType);
            var content = new MultipartFormDataContent();
            content.Add(byteContent, "file", VideoFile.Name);
            var response = await Http.PostAsync($"api/VideoUpload/{VideoName}", content);

            if (response.IsSuccessStatusCode)
            {
                VideoURL = response.Headers.Location?.ToString();
                Console.WriteLine(VideoURL);
            }
        }
    }
    
    

    private void ClearVideo()
    {
        VideoURL = string.Empty;
        VideoFile = null;
    }
    
    //HTML Editor and required properties
    
    void OnPaste(HtmlEditorPasteEventArgs args)
    {
        HtmlInput = args.Html;
    }
    
    void OnTitleChange(string title)
    {
        TitleInput = title;
    }
    
    void OnDescriptionChange(string description)
    {
        DescriptionInput = description;
    }
    
    void OnHtmlChange(string html)
    {
        HtmlInput = html;
    }
    
    void OnChosenDifficultyLevelChange(int value)
    {
        ChosenDifficulty = value;
    }

    void OnChooseLanguages(IEnumerable<int> value)
    {
        ChosenLanguages = value;
    }
    
    //Add new language
    private async Task OnAddLanguage()
    {
        if (newLang == null || newLang.Trim() == "")
        {
            return;
        }
        
        var langToPost = new ProgrammingLanguageCreateDTO
        {
            Name = newLang
        };
        
        var response = await Http.PostAsJsonAsync("api/ProgrammingLanguages", langToPost);
        
        if (response.IsSuccessStatusCode)
        {
            await JSRuntime.InvokeAsync<bool>("alert", "Congrats, you just uploaded a new language!");
            ProgrammingLanguages = await Http.GetFromJsonAsync<ProgrammingLanguageDTO[]>("api/ProgrammingLanguages");
        }
        else
        {
            //TODO tjek dette
            await JSRuntime.InvokeAsync<bool>("alert", "An error occurred, try again.");
        }
    }

    void OnNewLanguageValue(string val)
    {
        newLang = val;
    }

    //Publish article
    private async Task PublishArticle()
    {
        try
        {
            if(string.IsNullOrWhiteSpace(TitleInput))
            {
                var str = String.Format("Title is required.");
                await JSRuntime.InvokeAsync<bool>("alert", str);
            }
            
            await UploadImage();
            await UploadVideo();

            var article = new ArticleCreateDTO
            {
                Body = HtmlInput,
                Title = TitleInput,
                Type = ChosenType == 0 ? ArticleType.Written : ArticleType.Video,
                Description = DescriptionInput,
                ProgrammingLanguages = ChosenLanguages.Select(lang => ProgrammingLanguages[lang].Name).ToList(),
                Difficulty = (DifficultyLevel) (ChosenDifficulty + 1),
                ImageURL = ImageURL,
                VideoURL = VideoURL
            };

            var response = await Http.PostAsJsonAsync("api/Article", article);
            if (response.IsSuccessStatusCode)
            {
                var created = await response.Content.ReadFromJsonAsync<ArticleDTO>();

                var uri = $"{NavigationManager.BaseUri}ArticleDetails/{created.Id}";

                NavigationManager.NavigateTo(uri);
            }
        }
        catch(Exception e)
        {
            Console.WriteLine(e.Message);
        }   
    }
}
